<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index HTML</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user_info %}
            <tr>
                <td>{{ user['first_name']}}</td>
                <td>{{ user['last_name']}}</td>
                <td>{{ user['first_name'] + " " + user['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>