<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <h1 class="h1 text-center">All the Users</h1>
            <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th class="th-sm">Id
                  </th>
                  <th class="th-sm">First Name
                  </th>
                  <th class="th-sm">Last Name
                  </th>
                  <th class="th-sm">Email
                  </th>
                  <th class="th-sm">Age
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ user['id']}}</td>
                  <td>{{ user['first_name'] }}</td>
                  <td>{{ user['last_name'] }}</td>
                  <td>{{ user['email'] }}</td>
                  <td>{{ user['age'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr>

            <form class="text-center border border-light p-5" action="/add_user" method="POST">

                <p class="h4 mb-4">Add A User</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First name">
                        <input type="email" name="email" id="email" class="form-control mb-4" placeholder="E-mail">
                    </div>
                    <div class="col">
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last name">
                        <input type="text" name="age" id="age" class="form-control" placeholder="Age" >
                    </div>
                </div>

                <button class="btn btn-info my-4 btn-block" type="submit">Add</button>

            </form>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>