<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
</head>
<body>
<h1>All the Pets!</h1>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>type</th>
    </tr>
    {% for pet in pets %}
    <tr>
        <td>{{ pet['id']}}</td>
        <td>{{ pet['name']}}</td>
        <td>{{ pet['type']}}</td>
    </tr>
    {% endfor %}
</table>
<form action="http://127.0.0.1:5000/add_pet" method="post">
    <p></p>
    <h2>Add a Pet</h2>
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="type">Type</label>
    <input type="text" name="type">
    <input type="submit" value="Add">
</form>

</body>
</html>