<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Counter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{  url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div class="container">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Counter</h5>
                    <p class="card-text">{{ session['count']}}</p>
                    <a href="http://localhost:5000/clear" class="btn btn-secondary my-2">Reset</a>
                    <a href="http://localhost:5000/add_two_sessions" class="btn btn-secondary my-2">Add 2 visits!</a>
                </div>
            </div>
        </div>
    </body>
</html>